.botones-inicio {
    -fx-background-color:
            #090a0c,
            linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
            linear-gradient(#20262b, #191d22),
            radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Arial";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 10 20 10 20;
    -fx-opacity: 0.6;
}

.botones-inicio Text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.9) , 1, 0.0 , 0 , 1 );
}

.botones-inicio:hover {
    -fx-opacity: 1;
}

.botones-inicio:pressed {
    -fx-opacity: 0.4;
}

.ventana-inicio {
    -fx-padding: 10;
    -fx-border-style: solid inside;
    -fx-border-width: 2;
    -fx-border-insets: 5;
    -fx-border-radius: 5;
    -fx-border-color: saddlebrown;
    -fx-background-color: black;
}

.tablero {
    -fx-border-width: 5;
    -fx-border-radius: 2;
    -fx-border-color: saddlebrown;
}

.texto-pedir-nombre {
    -fx-color: #FFFFFF;
}

.tooltip {
    -fx-background-color: gold;
}

.nombre-usuario {
    -fx-border-width: 2;
    -fx-border-color: brown;
    -fx-border-radius: 4;
    -fx-background-color: #cc6029;
    -fx-font-size: 30;
    -fx-font-family: Arial;
}

